@page
@model SmartstaffApp.Pages.SolaryModel
@{
    ViewData["Title"] = "Solary";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Зарплатная сетка</h1>

<table border="1">
    <tr>
        <td style="font-weight: bold; background-color: RGB(201, 218, 248); white-space: pre-wrap; width: 70px;"></td>
        <td style="font-weight: bold; background-color: RGB(201, 218, 248); white-space: pre-wrap; width: 70px;">Junior</td>
        <td style="font-weight: bold; background-color: RGB(201, 218, 248); white-space: pre-wrap; width: 70px;">Middle</td>
        <td style="font-weight: bold; background-color: RGB(201, 218, 248); white-space: pre-wrap; width: 70px;">Senier</td>
    </tr>

    <tr>
        <td style="font-weight: bold; background-color: RGB(201, 218, 248); white-space: pre-wrap;">.Net</td>
        <td>25-55</td>
        <td>55-140</td>
        <td>120-190</td>
    </tr>
    <tr>
        <td style="font-weight: bold; background-color: RGB(201, 218, 248); white-space: pre-wrap;">Java</td>
        <td>30-60</td>
        <td>60-150</td>
        <td>130-200</td>
    </tr>
    <tr>
        <td style="font-weight: bold; background-color: RGB(201, 218, 248); white-space: pre-wrap;">Go</td>
        <td>30-60</td>
        <td>60-160</td>
        <td>130-180</td>
    </tr>
    <tr>
        <td style="font-weight: bold; background-color: RGB(201, 218, 248); white-space: pre-wrap;">C++</td>
        <td>20-35</td>
        <td>35-110</td>
        <td>90-140</td>
    </tr>
    <tr>
        <td style="font-weight: bold; background-color: RGB(201, 218, 248); white-space: pre-wrap;">DBA</td>
        <td>20-35</td>
        <td>90-130</td>
        <td>100-200</td>
    </tr>
</table>